/* add-edit-appointment.component.css */
mat-form-field {
  width: 100%;
}

.dropdown-container {
  display: flex;
  gap: 16px; /* Adjust space between dropdowns as needed */
  margin-bottom: 16px; /* Space below the dropdowns */
}

.button-container {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

button {
  margin-left: 8px;
}
